:root{
    --main-text-color:#5B7B78;
    
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
    font-family: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    
}

a{
    text-decoration: none;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
}
nav{
    max-width:100%;
    margin-left:1.5rem;
    margin-right:1.5rem;
    height:3rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}
.nav-hp{
    text-decoration: none;
    margin-left:1.5rem;
    /* color: var(--main-text-color); */
    color:white;
   
}
.nav-item a{
    text-decoration: none;
    color:rgb(132, 186, 218);
}
.nav-item{
    list-style: none;
    
}
.nav-menu{
    max-width: 100%;
}




.nav-toggle {
    font-size: 1.7rem;
    cursor: pointer;
    /* color:var(--main-text-color); */
    color:white;
    margin-right:2%;
  }
@media screen and (max-width:768px) {
    .nav-menu{
        position:fixed;
        top:-100%;
        left:0;
        right:0;
        width:90%;
        margin:0 auto;
        text-align:center;
        padding-top:1.5rem;
        border-radius: 1rem;
        background-color: #ECF3F2;
        height:15rem;
        
    }
    .nav-item {
        margin: 1.5rem 0;
        color:white;

    }
    .nav-toggle{
        position:absolute;
        z-index: 1000;
        top:20%;
        right:2%;
    }
    /* main{
        width: 100vw;
    } */
}

.show-menu {
    top:4rem;
}

main{
    position:relative;
}

.location-img{
    height:100vh;
    width:100%;
    object-fit: cover;
    object-position: top center;
    position:absolute;
    left:0;
    top:0;
    
}
.locations{
    position:relative;
    height:100vh;
}
.location-info{
    position: relative;
    
    color:white;
    text-align: center;
}
.locations-container{
    position: relative;
    height:100%;
    display:grid;
    align-content:center;
    
}
.location-info a{
    color:white;
    
}
.location-button{
    display:inline-flex;
    align-items: center;
    border: solid white .1em;
    border-radius: .5rem;
    padding:.3rem .3rem;
    z-index: 100;
}
.location-button, .location-button-icon {
    margin:10px;
}
.location-subtitle{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1%;
}
.location-description{
    margin-block:1rem;
    font-weight: 1000;
    
}
.location-title{
    font-size: 3rem;
}

.controls-img{
    width:35px;
    height:35px;
    border-radius: .5rem;
    cursor: pointer;
}

.controls {
    position:absolute;
    bottom:2rem;
    left:50%;
    z-index: 10;
    overflow:hidden;
   background-color: #ECF3F2;
   padding: .25rem .5rem;
   border-radius: .75rem;
   transform: translateX(-50%);
}
.controls-container{
    display:flex;
    align-items: center;
    column-gap:.5rem;
}
.bocas {
    object-position: top center;
}

@media screen and (min-width:768px){
    .nav-toggle{
        display:none;
    }
    .nav-list{
        display:flex;
    }
    .nav-item{
        margin-inline: 2rem;
        
    }
    .nav-list a {
        color:white;
    }
}

.location-info {
    text-shadow: lightslategray 1px 2px 1px;
    mix-blend-mode: lighten;
}
